<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eoshub.mapper.MemberMapper">
	<resultMap id="MemberMap" type="io.eoshub.model.Member">
		<result property="id" column="id"/>
		<result property="loginType" column="login_type" typeHandler="io.eoshub.type.LoginType$TypeHandler"/>
	</resultMap>
	
	<select id="getMember" resultMap="MemberMap">
		SELECT
			id,
			login_type
		FROM member
		WHERE
			id = #{id}
	</select>

</mapper>